@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth; }

/* Css for landing section starts here */
.m_page {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(../img/bg.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  cursor: pointer; }

/* This is the css for navigation  bar */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 1000;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.1); }
  .menu span {
    position: absolute;
    width: 30px;
    height: 2px;
    background: tomato;
    display: block;
    top: calc(50% - 1px);
    left: calc(50% - 15px);
    transition: 0.2s; }

.menu span:nth-child(1) {
  transform: translateY(-10px); }

.menu span:nth-child(3) {
  transform: translateY(10px); }

.menu.active span:nth-child(1) {
  transform: translateY(0px) rotate(-45deg); }

.menu.active span:nth-child(3) {
  transform: translateY(0px) rotate(45deg); }

.menu.active span:nth-child(2) {
  transform: translateX(-30px);
  opacity: 0; }

.menu-bar .menu-brand {
  margin-left: 90px;
  margin-top: 0;
  font-family: "Marck Script", cursive; }
  .menu-bar .menu-brand a {
    text-decoration: none;
    color: tomato;
    font-weight: bold;
    font-size: 40px; }

.menu-bar .s_icon {
  display: none; }

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.9);
  transition: 1s;
  transform: translateX(-100%);
  display: flex;
  justify-content: space-between;
  z-index: 99; }
  .menu-bar ul {
    display: flex;
    margin: 0;
    padding: 0;
    float: right; }
    .menu-bar ul li {
      list-style: none; }
      .menu-bar ul li a {
        line-height: 60px;
        text-transform: uppercase;
        color: tomato;
        text-decoration: none;
        padding: 0 20px;
        display: block;
        color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1); }
        .menu-bar ul li a:hover {
          background: tomato;
          color: #ffff !important; }

.activea {
  background: tomato;
  color: #ffff !important; }

.menu-bar.active {
  transform: translateX(0%); }

.menu-bar ul li:last-child a {
  border-right: none; }

@media (max-width: 768px) {
  .menu-bar {
    height: auto;
    width: 75%;
    display: inherit;
    justify-content: unset; }
    .menu-bar .menu-brand {
      display: block;
      margin-top: 90px;
      text-align: center;
      margin-left: -20px; }
      .menu-bar .menu-brand a {
        line-height: 40px;
        font-size: 33px; }
    .menu-bar ul {
      display: inherit;
      float: none;
      text-align: center;
      width: 100%;
      height: 50vh;
      padding-top: 10px;
      margin-top: 40px; }
    .menu-bar .s_icon {
      display: flex;
      justify-content: space-between;
      transform: translateX(20%); }

  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto; }

  .mov_arr {
    position: absolute;
    bottom: -11% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 0px;
    margin-top: 0px; } }
/* This is the css for navigation  bar */
.l_intro {
  height: 350px;
  width: 350px;
  background: rgba(0, 0, 0, 0);
  margin: auto;
  position: relative; }

.l_con {
  padding: 50px 5px 20px 5px; }

.l_con h1 {
  font-size: 56px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: uppercase; }
  .l_con h1 span {
    color: tomato !important; }

.l_con h2 {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  text-align: center; }
  .l_con h2 span {
    color: tomato !important;
    text-transform: uppercase; }

/* This is the css for introduction part with image below navigation bar */
/*This is the css for the arrow down button */
.mov_arr {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 0px;
  margin-top: 10px; }

.mov_arr span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 4px solid tomato;
  border-right: 4px solid tomato;
  transform: rotate(45deg);
  margin: 0px;
  animation: animate 2s infinite; }

.mov_arr span:nth-child(1) {
  animation-delay: -0.2s; }

.mov_arr span:nth-child(2) {
  animation-delay: -0.4s; }

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px); } }
/*This is the css for the arrow down button */
/* This is the css for about section */
.about_conh, .work_conh, .project_conh, .contact_conh {
  color: tomato;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700; }

.about_conh:before, .work_conh:before, .project_conh:before, .contact_conh:before {
  content: '';
  height: 80px;
  width: 8px;
  background: tomato;
  display: block;
  margin-left: -17px;
  position: absolute; }

.about_con p {
  margin-top: -12px;
  font-size: 18px;
  font-weight: 300; }

.img-fullwidth {
  width: 100% !important; }

.img-thumbnail {
  padding: .25rem;
  background-color: #edc9c9;
  border: 3px solid tomato;
  border-radius: .25rem;
  max-width: 100%;
  height: auto; }

.text-pad {
  font-size: 17px;
  font-weight: 300; }
  .text-pad strong {
    color: tomato;
    font-weight: 500; }

/* this is the css section for Table bio data */
.bio {
  padding: 10px 5px; }
  .bio ul {
    list-style: none;
    margin-bottom: 0rem !important; }
    .bio ul li {
      font-size: 17px;
      font-weight: 500;
      padding: 5px 0;
      color: tomato;
      border-bottom: 1px solid blue; }
      .bio ul li a {
        text-decoration: none;
        color: tomato; }
      .bio ul li span {
        color: #000;
        font-weight: 300; }

/* This is the css for about section */
/* Skills section starts here */
.skill_con {
  padding: 20px 15px; }
  .skill_con h3 {
    color: tomato;
    font-size: 32px;
    font-weight: 600; }

/* This is the skill box section */
.skill_s {
  background: rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: -999; }

.s_con {
  padding: 40px 10px;
  text-align: center; }

.s_con h5 {
  font-size: 25px;
  color: tomato;
  text-transform: capitalize; }

.s_con h3 {
  font-size: 35px;
  text-transform: uppercase;
  padding-top: 20px; }

/* Skill box css */
.c_box {
  width: 100%;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); }

.skillBox {
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0; }

.skillBox p {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px; }

.skillBox p:nth-child(2) {
  float: right;
  position: relative;
  top: -33px; }

.skill {
  background: #262626;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid tomato;
  border-radius: 2px; }

.skill_level {
  background: tomato;
  width: 10 0%;
  height: 10px; }

/* Skill box css */
.s_c_box {
  padding: 14px;
  margin-top: 60px; }

.s_c_box h2 {
  color: tomato;
  font-size: 35px; }

/* Skills section ends here */
/* This is the css for work section */
.work {
  background: linear-gradient(rgba(255, 99, 71, 0.2), rgba(255, 99, 71, 0.1)), url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: auto; }

.work_conh {
  color: tomato; }

.work_con p {
  margin-top: -12px;
  font-size: 18px;
  font-weight: 300; }

/* This is the section for workdone class */
.w_done {
  background: rgba(0, 0, 0, 0.8);
  padding: 25px 5px;
  height: auto; }

.counter {
  background-color: #f5f5f5;
  padding: 20px 10px;
  border-radius: 5px;
  margin-top: 70px; }

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center; }

.count-number {
  color: tomato;
  font-weight: bold;
  font-size: 60px;
  margin-top: 10px; }

.count-text {
  font-size: 30px;
  font-weight: normal;
  margin-top: 7px;
  margin-bottom: 0;
  text-align: center;
  color: tomato;
  font-weight: bold;
  text-transform: uppercase; }

.fa-5x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #4ad1e5; }

/* This is the section for workdone class */
.project_conh {
  color: tomato; }

.project_con p {
  margin-top: -12px;
  font-size: 18px;
  font-weight: 300; }

/* aection for gallery */
#demo {
  height: 100%;
  position: relative;
  overflow: hidden; }

.green {
  background-color: #6fb936; }

.thumb {
  margin-bottom: 30px; }

.page-top {
  margin-top: 85px; }

.fancybox img.zoom {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out; }

.transition {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.modal-header {
  border-bottom: none; }

.modal-title {
  color: #000; }

.modal-footer {
  display: none; }

/* This is the section for Project done class */
.contact {
  background: linear-gradient(rgba(135, 206, 250, 0.5), rgba(135, 206, 250, 0.6)), url(../img/bg4.jpeg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: auto; }

.contact_con p {
  margin-top: -12px;
  font-size: 18px;
  font-weight: 300; }

/* Main css for contact section */
.c_cont {
  align-items: center; }

.con_intr {
  text-align: left;
  margin: auto;
  padding-bottom: 20px; }

.con_intr h4 {
  font-size: 17px;
  font-family: 'Noto Sans JP', sans-serif;
  color: tomato;
  font-weight: bold;
  padding: 10px 5px; }

.con_intr h4 span,
a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  font-weight: 400;
  padding-top: 10px 5px;
  text-decoration: none; }
  .con_intr h4 span:hover,
  a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7); }

.c_cont ul {
  list-style: none;
  padding: 5px 0px; }
  .c_cont ul li {
    float: left;
    padding: 5px 5px 5px 0; }
    .c_cont ul li a {
      color: rgba(255, 0, 0, 0.5);
      padding: 0 10px; }
      .c_cont ul li a:hover {
        color: rgba(0, 255, 0, 0.5); }

/* This is the css for contact me section */
/* This is the section for contact form css */
.contactForm {
  padding: 0px;
  background: #fff; }

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px; }

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  outline: none;
  resize: none;
  border-bottom: 1px solid tomato; }

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
  pointer-events: none;
  transition: 0.5s;
  color: tomato; }

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px); }

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: tomato;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px; }
  .contactForm .inputBox input[type="submit"]:hover {
    background: cornflowerblue; }

/* This is the section for contact form css */
/* Footer Section starts from here */
.footer_sec {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 0; }

.f_con {
  margin-top: 15px; }

.f_con p {
  color: #fff;
  font-size: 16px;
  text-align: center; }
  .f_con p a {
    font-size: 17px;
    color: tomato;
    text-decoration: none; }

/* Footer Section starts from here */
.gotopbtn {
  position: fixed;
  height: 30px;
  width: 30px;
  background: tomato;
  bottom: 10px;
  right: 20px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  line-height: 25px;
  color: #fff;
  font-size: 18px; }
  .gotopbtn:hover {
    background: tomato;
    color: #fff; }

.arr {
  width: 35px;
  height: 35px;
  background: tomato !important;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  display: none;
  padding-left: 8px;
  padding-top: 3px; }

.arr a {
  color: #fff; }

/*# sourceMappingURL=style.css.map */
